.product-page-grid {
  display: flex;
}

.filter-bar {
  position: fixed;
  width: 230px;
  text-align: left;
  height: 100%;
  /* background-color: #f0f0f0; */
  padding: 0.5rem;
}

.filter-bar > div {
  width: 100%;
}

.product-left {
  margin-left: 200px;
}

fieldset{
  margin: .5rem;
  padding: .5rem;
}
legend{
font-weight: 600;
padding: .2rem;
margin: .1rem;
}

@media screen and (max-width: 800px) {
  .filter-bar {
    display: none;
  }

  .product-showcase {
    margin-left: 0px;
  }
}
