.card-v {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  width: 15.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 15rem;
}

.card-v:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.content-card {
  /* padding: 0rem 1rem 1rem 1rem; */
  display: flex;
  flex-direction: column;
}

.content-card > .div1,
.div3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content-card > .div2 {
  font-size: small;
  margin: 0.5rem 0rem;
  text-align: left;
}

.div2> p{
    font-weight: 700;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    height: min-content;
    line-height: 1.4rem;

}

.product-img{
  width: 100%;
  height: 5rem;
}

.price {
  font-weight: 500;
}

.quantity-btn > button {
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0.2rem 0.7rem;
  margin: 0.2rem;
  font-size: .9rem;
  font-weight: 900;
  border-radius: 4px;
}

.quantity-btn > button:hover {
  background-color: #bcbcbc;
}

.cart-btn {
  padding: 0.5rem .3rem;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
}

.product-btn{
  padding: 0.5rem 1.3rem;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
}

.product-link{
  outline: none;
  color: white;
  text-decoration: none;
}

.btn-red {
  background-color: #ff1e50;
  margin-left: 0.2rem;
  text-decoration: none;
  font-size: .9rem;
  cursor: pointer;
}

.btn-blue {
  background-color: #2b4296;
  margin-left: 0.2rem;
  text-decoration: none;
  font-size: .9rem;
  cursor: pointer;
}

.btn-red-disabled {
  background-color: #df5573;
}




.product-card{
	background: #fff;
	display: inline-block;
  margin: .6rem;
	padding: 1.2rem .7rem;
	width: 270px;
	border-radius: 15px;
	box-shadow: 2px 2px 10px rgba(0,0,0,0.3);
  position: relative;
}

.product-card:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

 .product-card .head .likes,
 .product-card .head{
	display: flex;
	justify-content: space-between;
	align-items: center;
}


 .product-card .head .likes{
	justify-content: flex-start;
	color: #ccc;
}


 .product-card .head .discount button{
	background: orangered;
	display: inline-block;
}
 .product-card .head .likes p{font-size: 12px;}
 .product-card .head .likes ion{
	margin-right: 10px;
	font-size: 16px;
	cursor: pointer;
}


 .product-card .product{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px 0px;
  font-size: 2rem;
  position: relative;
}

.wish-heart{
  position: absolute;
  right: -2px;
  top: -42px;
}



 .product-card .textp p{color: rgba(0,0,0,0.7);
margin-bottom: 1rem;}
 .product-card .textp h3{margin: 15px 0px; font-size: 18px;}
 .product-card .textp{
	text-align: center;
}

.titlep > h3{
    
font-weight: 700;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-box-orient: vertical;
-webkit-line-clamp: 2;
overflow: hidden;
height: min-content;
line-height: 1.4rem;
}


 .product-card .footer .cart button{
	background: transparent;
	color: #ccc;
}
 .product-card .footer .action button{
	background: #00e781;
}
 .product-card .footer{
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

